{{ define "main" }}
<section id="archive">
    {{ $title := .Title }}
    {{ $i18nKey := "" }}

    {{ $urlParts := split .Permalink "/" }}
    {{ $taxonomies := $.Site.Taxonomies }}
    {{ range $taxonomy, $terms := $taxonomies }}
        {{ if in $urlParts $taxonomy }}
            {{ $i18nKey = (lower (print $taxonomy "." $title)) }}
        {{ end }}
    {{ end }}


    <h2>
        {{ if i18n $i18nKey }}
        {{ i18n $i18nKey }}
        {{ else }}
        {{ $title }}
        {{ end }}
    </h2>

    {{ range .Data.Pages.GroupByDate "2006" }}
    <div class="group">
        <h3 class="key">
            {{ .Key }}
        </h3>
        
        {{ $pages := where (where .Pages "Draft" false) "Type" "posts" }}
        {{ range $pages }} 
        <div class="value">
            <div class="title">
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</section>

{{ end }}