{{ define "main" }}
XXX
<section id="archive">
XXX
<h2>
       x {{ .Title }}
    </h2>
    
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="group">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
                <div class="value">
                  <div class="date">
                      <time datetime="{{ .PublishDate }}">{{ .PublishDate | time.Format "2. January. " }}</time>
                  </div>
                  <div class="title">
                      <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a>
                  </div>
                </div>
            {{ end }}          
        </div>

    {{ end }}



</section>


{{ end }}