{{ define "main" }}

<div id="page-404">
  <div class="text">
    <h1>{{ i18n "page404.title" }}</h1>
    <div>{{ i18n "page404.subTitle" }}</div>
  </div>

  <h2 class="read-more">
    {{ i18n "readMore" }}
  </h2>

  {{ $pages := .Site.RegularPages }}
  {{ $paginator := .Paginate ($pages) }}
  <section id="archive">
    <div class="group">
      {{ range $paginator.Pages }}
    <div class="value">
      <div class="title">
          <a href="{{ .Permalink }}">
              {{ .Title }}
          </a>
      </div>
  </div>
  {{ end }}
    </div>
</section>

</div>

{{ end }}