{{ define "main" }}

<div id="list-page">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Content }}

        <section class="item">
            <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>
            <div class ="date">
                <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "02. 01. 2006" }}</time>  
            </div>

          {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
             <div class="content">{{ $summary }}</div>
          {{ end }}
          <hr />
        </section> 
    {{ end }}

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="pagination">
          {{ if $paginator.HasPrev }}
              <span class="prev">
                  <a href="{{.Paginator.Prev.URL}}">
                      <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}Novější příspěvky{{ end }}
                  </a>
            </span>
          {{ end }}
          
          {{ if $paginator.HasNext }}
              <span class="next">
                  <a href="{{.Paginator.Next.URL}}">
                      {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}Starší příspěvky{{ end }} <span class="arrow">→</span>
                  </a>
              </span>
          {{ end }}
        </div>
    {{ end }}


</div>
{{ end }}
