DD
    {{ i18n "tags.wine" }}
DD

C
<div>
{{ range $.Site.Taxonomies.tags }}
    {{ i18n .Page.Title }} {{ .Page.Permalink }}<br>
{{ end }}
</div>
C

AA
{{ range (.GetTerms "tags") }}
<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{ end }}
AA

<div>
    {{- range site.Menus.main }}
  <a {{ with .Params.class -}} class="{{ . }}" {{ end -}} href="{{ .URL }}">
   1 {{ .Name }}
  </a>
{{- end }}
</div>

<ul>
    {{ range .Site.Taxonomies.tags }}
        <li><a href="{{ .Page.Permalink }}">XX{{ i18n .Page.Title .Page.Title }}XX {{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
</ul>

<header class="header">
    <div class="title">
        <div>
            {{ if .Site.Params.avatarLink }}
                <a href="/">
                    <img class="avatar" alt="avatar" src="{{ .Site.Params.avatarLink | relURL }}" />
                </a>
            {{ end }}
        </div>
        <div>
            
            <h1><a href="/">{{ .Site.Title }}</a></h1>
            <h2>{{ .Site.Params.SubTitle }}</h2>
        </div>
        <div>
            <a href="/posts">
                {{ partial "svgs/menu.svg" }}
            </a>
        </div>
    </div>
    <hr>
</header>
