<header class="header">
    <div class="title">
        <div>
            {{ if .Site.Params.avatarLink }}
                <a href="/">
                    <img class="avatar" alt="avatar" src="{{ .Site.Params.avatarLink | relURL }}" />
                </a>
            {{ end }}
        </div>
        <div>
            
            <h1><a href="/">{{ .Site.Title }}</a></h1>
            <h2>{{ .Site.Params.SubTitle }}</h2>
        </div>
        <div>
            <a href="/posts">
                {{ partial "svgs/menu.svg" }}
            </a>
        </div>
    </div>
    <hr>
</header>
